module.exports = {
    SLACK_BOT_TOKEN: "testToken",
    SLACK_SIGNING_SECRET: "testSecret",
    SLACK_APP_TOKEN: "testTokenApp",
    GOOGLE_API_MAIL: "slack@bot.ambassador",
    GOOGLE_API_KEY: "-----BEGIN PRIVATE KEY-----GAAAAAAAAAADDDDAAAAAMNN-----END PRIVATE KEY-----\n",
    SPREADSHEET_ID: "TheSpreadSheetID",
}
